
.text
    &--center
        text-align: center
    &--left
        text-align: left
    &--right
        text-align: right

@media (max-width: $screen-xs) 
    .text
        &-xs
            &--center
                text-align: center