

/// @name Import Font Suite
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=latin-ext)

/// @type font-family
$font-family--base: "Source Sans Pro", sans-serif

/// @type percent
$font-size-base:            62.5%
/// @type px
$font-size-text--tiny:      9px
/// @type px
$font-size-text--small:     12px
/// @type px
$font-size-text--base:      14px
/// @type px
$font-size-text--large:     18px

/// @type px
$font-size-header--small:   24px
/// @type px
$font-size-header--base:    30px
/// @type px
$font-size-header--large:   44px
/// @type integer
$font-weight--light:        300
/// @type integer
$font-weight--normal:       400
/// @type integer
$font-weight--semibold:     600
/// @type integer
$font-weight--bold:         700


/// @name Font Size Mixin
/// @output { font-size: 1rem; font-size: 14px }
=fontSize($size)
  font-size: $size

// @name setFontSet Mixin
=setFontSet($fontSize, $font-weight, $transform: none)
  font-family: $font-family--base
  font-weight: $font-weight
  line-height: $fontSize
  text-transform: $transform
  +fontSize($fontSize)