

/// @name Import Font Suite
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=latin-ext)

/// @type font-family
$font-family--base: "Source Sans Pro", sans-serif

/// @type number
$line-height-factor: 1.33

/// @type percent
$font-size-base:            62.5%
/// @type px
$font-size-text--tiny:      9px
/// @type px
$font-size-text--small:     13px
/// @type px
$font-size-text--base:      15px
/// @type px
$font-size-text--large:     18px

/// @type px
$font-size-header--tiny:    13px
/// @type px
$font-size-header--small:   19px
/// @type px
$font-size-header--base:    30px
/// @type px
$font-size-header--large:   44px

/// @type integer
$font-weight--light:        300
/// @type integer
$font-weight--normal:       400
/// @type integer
$font-weight--semibold:     600
/// @type integer
$font-weight--bold:         700


/// @name Font Size Mixin
/// @output { font-size: 1rem; font-size: 14px }
=fontSize($size)
    font-size: $size

// @name setFontSet Mixin
=setFontSet($fontSize, $font-weight: normal, $transform: none)
    font-family: $font-family--base
    font-weight: $font-weight
    line-height: $fontSize * $line-height-factor
    text-transform: $transform
    +fontSize($fontSize)