
$max-content-width: 1000px

body 
    +setFontSet($font-size-text--base)
    color: $color-graphite--dark
    max-width: $max-content-width

section
    margin-top: $spacing-medium
    padding-right: $spacing-large

.no-gutters
    margin-right: 0
    margin-left: 0

    > .col,
    > [class*="col-"]
        padding-right: 0
        padding-left: 0



@media (max-width: $screen-xs) 
    section
        padding-right: 0
        margin-bottom: $spacing-large
