
.paragraph
    +withoutSpacing()
    margin-top: $spacing-small
    margin-bottom: $spacing-medium

    &--lead
        +setFontSet($font-size-text--large)
        margin-top: $spacing-base
    
    &--small 
        margin: 0
        +setFontSet($font-size-text--base, $font-weight: normal, $transform: none)


@media print
    .paragraph
        //max-width: 50%
        margin-top: 0
        margin-bottom: $spacing-base


@media (max-width: $screen-sm) 
    .paragraph
        &--small 
            +setFontSet($font-size-text--small)

